<% content_for :title, @photo.title -%>

<article>
    <%= image_tag @photo.url, :id => "photo", :class => "rotate#{rand(4)}" %>
    <footer>
    <h1><%= @photo.title %></h1>
    <time><%= @photo.taken_at.to_date.to_formatted_s(:long) %></time>
    </footer>
</article>

<% content_for :footer do -%>
    <div id="nav" class="clearfix">
    <%= link_to(image_tag("/images/previous.png"), show_path(@photo.previous), :id => "prev", :style => "background: url(#{@photo.previous.thumbnail_url});", :class => "nav-link previous", :title => "previous") if @photo.previous  %>
    <%= link_to(image_tag("/images/next.png"), show_path(@photo.next), :id => "next", :style => "background: url(#{@photo.next.thumbnail_url});", :class => "nav-link next", :title => "ntext") if @photo.next  %>

    </div>
    <p>
    <%= link_to("archive", archive_path) %>
    </p>
<% end -%>