<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Flickrblog <%= " - " << yield(:title) if yield(:title).present?%></title>
  <meta name="author" content="Jonas Forsberg">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  href="//fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >

  <%= stylesheet_link_tag :all %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag "jquery.isotope.min" %>
  <%= javascript_include_tag "jquery.tipsy" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="container">
    <header>
        
    </header>
    
    <div id="main">
        <%= yield %>
    </div>
    
    <footer>
        <%= yield(:footer) %>
        <p id="powered">powered by: <%= link_to "flickrblog", "https://github.com/himynameisjonas/flickrblog" %> & <%= link_to "flickr", "http://flickr.com" %></p>
    </footer>
  </div>
</body>
</html>